@import url(alt_cont.css);
@import url(grande.css);

html{ /*https://www.colorcombos.com/color-schemes/211/ColorCombo211.html*/
    --c1: #E02E5F; /*rosa*/
    --c2: #1633D8; /* blau */
    --c3: #b4d8e7; /*gris*/
    --c4: #ffec94;
    --c5: #fff0aa;
    --c6: #b0e57c;
    --b: #fff;
    --t: #2c2c2c;
    --s: rgba(255, 255, 255, 0.5); /* sombra */
    --sc1: #E02E5F;/*sombra rosa*/
}