.image-grid {
	--gap: 16px;
	--num-cols: 4;

	display: grid;

	gap: var(--gap);
	grid-template-columns: repeat(var(--num-cols), 1fr);
	padding: var(--gap);
}

.image-grid > article, .image-grid2 > article {
	width: 100%;
	height: auto;
}

.image-grid > article > a > img {
	width: 100%; /* s'ajusta al tamany del article */
	height: 10em; /* altura fixa */
}

.image-grid2 > article > a > img {
    width: 50%;
    height: fit-content;	
}

.image-grid2 {
	--gap: 16px;
	--num-cols: 2;

	display: grid;

	gap: var(--gap);
	grid-template-columns: repeat(var(--num-cols), 1fr);
	padding: var(--gap);
}


